[/]tools.staticdir.root = "/Users/goldenthinker/Projects/formate-spyder/com_formate_logs"[/images]tools.staticdir.on = Truetools.staticdir.dir = "logs/images"[/images/com_formate_logs/logs/images]tools.staticdir.on = Truetools.staticdir.dir = "logs/images"[/css]tools.staticdir.on = Truetools.staticdir.dir = "browser/css"[/js]tools.staticdir.on = Truetools.staticdir.dir = "browser/js"